:root {
    --purple: rgb(118, 81, 220);
    --light-purple: rgb(203, 193, 232);
    --orange: rgb(255, 204, 105);
    --dark-orange: rgb(255, 193, 69); 
}

@font-face {
    font-family: 'Sora-normal';
    src: url(assets/fonts/sora.bold.woff2) format('woff2'),
         url(assets/fonts/sora.bold.woff) format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora-italic';
    src: url(assets/fonts/sora.bold-italic.woff2) format('woff2'),
         url(assets/fonts/sora.bold-italic.woff) format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
    background-color: rgb(245, 245, 245);
}

.wrapper {
    display: grid;
    grid-template-rows: 120px 120px 120px 60px 60px 60px 60px 60px 120px 60px 60px 60px 120px 120px 60px;
    grid-template-columns: 400px 60px 400px 60px 400px 60px 400px;
    justify-self: center;
}

.panel {
    border-radius: 20px;
}

.panel-1 {
    background-color: rgb(250, 238, 226);
    grid-row: 1 / 7;
    grid-column: 1 / 2;

    & h2 {
        font-size: 40px;
    }

    & h2:nth-of-type(1) {
        color: black;
        font-family: 'Sora-normal', sans-serif;
        width: 75%;
        justify-self: center;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    & h2:nth-of-type(2) {
        color: var(--purple);
        font-family: 'Sora-italic', sans-serif;
        width: 75%;
        justify-self: center;
        margin-top: 0px;
    }

    & button {
        margin-top: 26%;
        margin-right: 10%;
        border-radius: 50px;
        border-width: 0px;
        width: 65%;
        height: 14%;
        background-color: var(--orange);
        color: var(--purple);
        font-family: 'Sora-normal', sans-serif;
        display: flex;
        justify-content: center;
        justify-self: center;
        transition: 0.4s;
        position: relative;

        & h3 {
            font-size: 18px;
            height: 20px;
            align-self: center;
            transition: 0.4s;
        }

        & img:nth-of-type(1) {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 70%;
            left: 66%;
            transition: 0.4s;
        }

        & img:nth-of-type(2) {
            width: 32px;
            height: 32px;
            align-self: center;
            margin-left: 8%;
            transition: 0.4s;
        }
    }

    & button:hover {
        background-color: var(--dark-orange);
        transform: scale(105%);

        & h3 {
            font-size: 20px;
            margin-bottom: 10%;
        }

        & img:nth-of-type(2) {
            margin-left: 3%;
            margin-bottom: 1%;
        }
    }
}

.panel-2 {
    background-color: var(--orange);
    grid-row: 8 / 16;
    grid-column: 1 / 2;

    & h2 {
        font-family: 'Sora-normal', sans-serif;
        width: 200px;
        justify-self: center;
        font-size: 40px;
        margin-left: -38%;
    }

    & div {
        background-color: white;
        width: 92%;
        height: 50%;
        justify-self: center;
        border-radius: 20px;

        & div:nth-of-type(1) {
            display: flex;
            margin-top: 20px;
            

            & div {
                background-color: rgb(252, 232, 234);
                border-radius: 20px;
                width: 80%;
                box-shadow: 0px 0px 10px gray;

                & p {
                    font-family: sans-serif;
                    font-size: 17px;
                    margin-left: 20px;
                    color: gray;
                }
            }

            & img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                box-shadow: 0px 0px 10px rgb(0, 0, 0);
                margin-top: 24px;
                margin-left: 20px;
                filter: brightness(120%);
            }
        }

        & div:nth-of-type(2) {
            background-color: transparent;
            display: flex;

            & img {
                width: 48px;
                height: 48px;
                margin-top: 24px;
                filter: brightness(120%);
                background-color: var(--light-purple);
                border-radius: 50%;
                box-shadow: 0px 0px 10px var(--light-purple);
            }

            & div {
                width: 85%;
                margin-left: 10px;
                background-color: rgb(252, 234, 209);
                padding-bottom: 10px;

                & p {
                    width: 170px;
                    margin-left: 10px;
                    font-size: 17px;
                    font-family: sans-serif;
                    color: gray;
                }
            }
        }
    }
}

.panel-3 {
    background-color: var(--purple);
    grid-row: 1 / 4;
    grid-column: 3 / 6;
    display: flex;
    flex-direction: column;

    & div {
        display: flex;
    }

    & div:nth-of-type(1) {
        justify-content: center;
        gap: 20px;
        margin-top: 50px;
        
        & h2 {
            font-size: 60px;
            font-family: 'Sora-normal', sans-serif;
            color: white;
            margin: 0px 0px 0px 0px;
        }

        & h2:nth-of-type(2) {
            color: var(--dark-orange);
        }
    }

    & div:nth-of-type(2) {
        justify-content: center;
        height: 60px;
        margin-top: 10px;
        gap: 20px;

        & h2 {
            font-size: 60px;
            color: white;
            margin: 0px 0px 0px 0px;
        }

        & h2:nth-of-type(1) {
            font-family: 'Sora-italic', sans-serif;
        }

        & h2:nth-of-type(2) {
            font-family: 'Sora-normal', sans-serif;
        }
    }

    & div:nth-of-type(3) {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;

        & img {
            width: 28px;
            height: 28px;
        }
    }

    & div:nth-of-type(4) {
        justify-content: center;
        margin-top: 10px;

        & p {
            font-family: sans-serif;
            color: white;
            word-spacing: 4px;
            letter-spacing: 2px;
        }
    }
    
}

.panel-4 {
    background-color: white;
    grid-row: 5 / 10;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 2;

    & div {
        display: flex;
        box-shadow: 0px 0px 10px gray;
        border-radius: 30px;
        height: 16%;
        width: 150%;
        margin-left: 15%;
        margin-top: 40px;

        & div {
            box-shadow: none;
        }

        & div:nth-of-type(1) {
            display: flex;
            height: 100%;
            margin-top: 0px;
            margin-left: 20px;

            & div:nth-of-type(1) {
                background-color: var(--dark-orange);
                border-radius: 50%;
                height: 48px;
                width: 48px;
                padding-right: 8px;
                margin-left: 0px;
                align-self: center;
                
                & img {
                    width: 32px;
                    height: 32px;
                    align-self: center;
                    margin-left: 8px;
                    margin-top: 8px;
                }
            }

            & div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                margin-left: 20px;
                height: 100%;
                gap: 5px;

                & h3 {
                    margin: 0px;
                    margin-top: 6px;
                    font-size: 16px;
                    font-family: sans-serif;
                }

                & h4 {
                    margin: 0px;
                    font-size: 12px;
                    font-family: sans-serif;
                }
            }
        }

        & div:nth-of-type(2) {
            display: flex;
            height: 100%;
            margin-top: 0px;
            margin-left: 60px;

            & div:nth-of-type(1) {
                background-color: var(--dark-orange);
                border-radius: 50%;
                height: 48px;
                width: 48px;
                margin-left: 0px;
                align-self: center;
                
                & img {
                    width: 32px;
                    height: 32px;
                    align-self: center;
                    margin-left: 8px;
                    margin-top: 8px;
                }
            }

            & div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                margin-left: 20px;
                width: 70px;
                height: 100%;
                gap: 5px;

                & h3 {
                    margin: 0px;
                    margin-top: 6px;
                    font-size: 16px;
                    font-family: sans-serif;
                }

                & h4 {
                    margin: 0px;
                    font-size: 12px;
                    font-family: sans-serif;
                }
            }
        }

        & div:nth-of-type(3) {
            display: flex;
            height: 100%;
            margin-top: 0px;
            margin-left: 60px;
            margin-right: 20px;

            & div:nth-of-type(1) {
                background-color: var(--dark-orange);
                border-radius: 50%;
                height: 48px;
                width: 48px;
                margin-left: 0px;
                align-self: center;
                
                & img {
                    width: 32px;
                    height: 32px;
                    align-self: center;
                    margin-left: 8px;
                    margin-top: 8px;
                }
            }

            & div:nth-of-type(2) {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                margin-left: 20px;
                width: 70px;
                height: 100%;
                gap: 5px;

                & h3 {
                    margin: 0px;
                    margin-top: 6px;
                    font-size: 16px;
                    font-family: sans-serif;
                }

                & h4 {
                    margin: 0px;
                    font-size: 12px;
                    font-family: sans-serif;
                }
            }
        }
    }

    & h2 {
        font-size: 40px;
        font-family: 'Sora-normal';
        margin-left: 20px;
        margin-top: 60px;
        width: 350px;
    }
}

.contacts-panel {
    animation: contacts-moving 4s infinite alternate linear;
}

@keyframes contacts-moving {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-80%);}
}

.panel-5 {
    background-color: var(--orange);
    grid-row: 5 / 10;
    grid-column: 5 / 6;
}

.panel-6 {
    background-color: var(--light-purple);
    grid-row: 1 / 10;
    grid-column: 7 / 8;
}

.panel-7 {
    background-color: white;
    grid-row: 11 / 16;
    grid-column: 3 / 4;
}

.panel-8 {
    background-color: var(--purple);
    grid-row: 11 / 16;
    grid-column: 5 / 8;
}