:root {
    --purple: rgb(118, 81, 220);
    --orange: rgb(255, 204, 105);
    --button-active: rgb(255, 193, 69); 
}

@font-face {
    font-family: 'Sora-normal';
    src: url(fonts/sora.bold.woff2),
         url(fonts/sora.bold.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'Sora-italic';
    src: url(fonts/sora.bold-italic.woff2),
         url(fonts/sora.bold-italic.woff);
    font-weight: normal;
}

body {
    background-color: rgb(245, 245, 245);
}

.wrapper {
    display: grid;
    grid-template-rows: 120px 120px 120px 60px 60px 60px 60px 60px 120px 60px 60px 60px 120px 120px 60px;
    grid-template-columns: 400px 60px 400px 60px 400px 60px 400px;
    justify-self: center;
}

.panel {
    border-radius: 20px;
}

.panel-1 {
    background-color: rgb(250, 238, 226);
    grid-row: 1 / 7;
    grid-column: 1 / 2;

    & h2 {
        font-size: 40px;
    }

    & h2:nth-of-type(1) {
        color: black;
        font-family: 'Sora-normal';
        width: 75%;
        justify-self: center;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    & h2:nth-of-type(2) {
        color: var(--purple);
        font-family: 'Sora-italic';
        width: 75%;
        justify-self: center;
        margin-top: 0px;
    }

    & button {
        margin-top: 26%;
        margin-right: 10%;
        border-radius: 50px;
        border-width: 0px;
        width: 65%;
        height: 14%;
        background-color: var(--orange);
        color: var(--purple);
        font-family: 'Sora-normal';
        display: flex;
        justify-content: center;
        justify-self: center;
        transition: 0.4s;
        position: relative;

        & h3 {
            font-size: 18px;
            height: 20px;
            align-self: center;
            transition: 0.4s;
        }

        & img:nth-of-type(1) {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 70%;
            left: 66%;
            transition: 0.4s;
        }

        & img:nth-of-type(2) {
            width: 32px;
            height: 32px;
            align-self: center;
            margin-left: 8%;
            transition: 0.4s;
        }
    }

    & button:hover {
        background-color: var(--button-active);
        transform: scale(105%);

        & h3 {
            font-size: 20px;
            margin-bottom: 11%;
        }

        & img:nth-of-type(2) {
            margin-left: 3%;
            margin-bottom: 2%;
        }
    }
}

.panel-2 {
    background-color: var(--orange);
    grid-row: 8 / 16;
    grid-column: 1 / 2;

    & h2 {
        font-family: 'Sora-normal';
        width: 200px;
        justify-self: center;
        font-size: 40px;
    }

    & div {
        background-color: white;
        width: 92%;
        height: 50%;
        justify-self: center;
        border-radius: 10px;

        & div:nth-of-type(1) {
            display: flex;
            margin-top: 10px;
            

            & div {
                background-color: rgb(252, 232, 234);
                border-radius: 20px;
                width: 80%;
                box-shadow: 0px 0px 10px gray;

                & p {
                    font-family: sans-serif;
                    font-size: 16px;
                    margin-left: 20px;
                    color: gray;
                }
            }

            & img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                box-shadow: 0px 0px 10px rgb(0, 0, 0);
                margin-top: 10px;
                margin-left: 20px;
            }
        }

        & div:nth-of-type(2) {
            background-color: transparent;
        }
    }
}

.panel-3 {
    background-color: var(--purple);
    grid-row: 1 / 4;
    grid-column: 3 / 6;
}

.panel-4 {
    background-color: white;
    grid-row: 5 / 10;
    grid-column: 3 / 4;
}

.panel-5 {
    background-color: var(--orange);
    grid-row: 5 / 10;
    grid-column: 5 / 6;
}

.panel-6 {
    background-color: rgb(203, 193, 232);
    grid-row: 1 / 10;
    grid-column: 7 / 8;
}

.panel-7 {
    background-color: white;
    grid-row: 11 / 16;
    grid-column: 3 / 4;
}

.panel-8 {
    background-color: var(--purple);
    grid-row: 11 / 16;
    grid-column: 5 / 8;
}